<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link href="{% static 'css/theme.css' %}" rel="stylesheet"></link>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
<header>
    <div class="container navbar">
        {% include "navbar.html" %}
    </div>
</header>
<div>
    <div class="container">
        <div id="messages">

        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<footer class="push">
    <div class="container">
    </div>
</footer>
</body>
</html>