{% extends "website/base.html" %}
{% block title %}MAI COMMUNITIES{% endblock %}
{% block description %}
    Curated list of MAI student communities.
{% endblock %}
{% block navbar %}
    {% include "website/navbar.html" with active_item="communities" %}
{% endblock %}
{% block content %}
    <div class="community-list">
        {% for community in community_list %}
            {% include "community/card.html" with com=community %}
        {% endfor %}
    </div>
    {% include "website/pagination.html" with paginated_list=community_list %}
{% endblock %}
