{% if paginated_list.paginator.num_pages > 1 %}
    <nav>
        <ul class="pagination">

            {% if paginated_list.has_previous %}
                <li>
                    <a href="?page={{ paginated_list.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&larr;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in paginated_list.paginator.page_range %}
                {% if num == paginated_list.number %}
                    <li class="active"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ num }}"> {{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginated_list.has_next %}
                <li>
                    <a href="?page={{ paginated_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
