<!DOCTYPE html>
<html lang="ru">
<head>
    <title>MAI COMMUNITIES</title>
</head>
<body>
<div class='wrapper'>
    <header>
        <div class="container">
            List of MAI communities
        </div>
    </header>
    <div class="content">
        {% for community in community_list %}
            <div class="community">
                <br/>
                <h3><a href="{% url 'communities:community_detail' community.pk %}">{{ community.title }}</a></h3>
                <p>{{ community.description }}</p>
                <p><a href="{{ community.vk_link }}">{{ community.vk_link }}</a></p>
                <p>{{ community.contacts }}</p>
                <br/>
            </div>
        {% endfor %}
    </div>
    {% if community_list.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if community_list.has_previous %}
                <a href="?page={{ community_list.previous_page_number }}">←</a>
            {% endif %}

            {% for num in community_list.paginator.page_range %}
                {% if num == community_list.number %}
                    <span class="current"><b>{{ num }}</b></span>
                {% else %}
                    <a href="?page={{ num }}"> {{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if community_list.has_next %}
                <a href="?page={{ community_list.next_page_number }}">→</a>
            {% endif %}
        </div>
    {% endif %}
</div>
<footer class="push">
    MAI COMMUNITIES
</footer>
</body>
</html>