{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>MAI COMMUNITIES</title>
    <link rel="stylesheet" href="{% static "communities/style.css" %}" type="text/css"/>
</head>
<body>

<header>
    <p>Communities</p>
</header>

<main>
    <div class="content">
        {% for community in community_list %}
            <div class="community">
                <h3><a href="{% url 'communities:community_detail' community.pk %}">{{ community.title }}</a></h3>
                <p>{{ community.description }}</p>
            </div>
        {% endfor %}
    </div>

    {% if community_list.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if community_list.has_previous %}
                <a href="?page={{ community_list.previous_page_number }}">←</a>
            {% endif %}

            {% for num in community_list.paginator.page_range %}
                {% if num == community_list.number %}
                    <span class="current"><b>{{ num }}</b></span>
                {% else %}
                    <a href="?page={{ num }}"> {{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if community_list.has_next %}
                <a href="?page={{ community_list.next_page_number }}">→</a>
            {% endif %}
        </div>
    {% endif %}
</main>

<footer class="push">
    MAI COMMUNITIES
</footer>

</body>
</html>
