* {
    margin: 0;
    padding: 0;
    text-align: left;
}

body {
    font-family: sans-serif;
}

header {
    background: black;
    padding: 10px 20px;
}

header * {
    color: white;
}

main {
    background-color: #eee;
    padding: 20px;
}

main a {
    color: blue;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main p {
    padding: 5px 10px;
}

main .pagination {
    text-align: center;
}

main .pagination ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}

main .pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

main .pagination ul li a,
main .pagination ul li span {
    display: block;
    padding: 5px 10px;
}

main .pagination a {
    color: blue;
    text-decoration: none;
}

main .pagination a:hover {
    text-decoration: underline;
}

main .pagination ul li.active span {
    font-weight: bold;
}

main .community {
    margin-bottom: 15px;
}

footer {
    background: #333;
    padding: 10px 20px;
    color: white;
}
