{% extends "common/base.html" %}

{% block title %}MAI COMMUNITIES{% endblock %}

{% block description %}
    Curated list of MAI student communities.
{% endblock %}

{% block pagetitle %}Communities{% endblock %}

{% block content %}
    <div class="community-list">
        {% for community in community_list %}
            {% include "community/card.html" with com=community %}
        {% endfor %}
    </div>
    {% include "common/pagination.html" with paginated_list=community_list %}
{% endblock %}
